<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Video Streamer API</h1>

    <div class="row">
        <!-- Iterate over videos and create a Bootstrap card for each -->
        <div th:each="video : ${videos}" class="col-md-3 mb-4">
            <div class="card">
                <!-- Video name -->
                <div class="card-body">
                    <h5 class="card-title" th:text="${video.name}"></h5>
                </div>
                <!-- Thumbnail image with a link to watch the video -->
                <a th:href="@{'http://localhost:8080/watch/' + ${video.id}}">
                    <img th:src="@{'http://localhost:8080/api/video/preview/' + ${video.id}}"
                         alt="Frame from video" class="card-img-top">
                </a>
                <!-- Video description -->
                <div class="card-body">
                    <p class="card-text" th:text="${video.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-U7rzi/RJz8U9SJp7CL5jk6rIQ4cTE6XS5tk9iMVm6uiKK5Ni91OcpqkytJpkZUZc"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjUEdIeywoNUE1zBywUQbWSVNU9Pa8d"
        crossorigin="anonymous"></script>

</body>
</html>
